In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from IPython.display import display, HTML
from bs4 import BeautifulSoup
from playwright.async_api import async_playwright
from tqdm.notebook import tqdm
import time
import pdb
import csv
from PIL import Image
import requests
import asyncio
import os
import re

In [15]:
playwright = await async_playwright().start()
from playwright.async_api import ElementHandle
browser = await playwright.chromium.launch(headless = False)
page = await browser.new_page()

## EXTRACTING NAMES OF ALL COUNTRIES IN THE WORLD

In [2]:
country_names_url = "https://data.worldbank.org/country"

In [3]:
await page.goto(country_names_url)

In [7]:
world_country_list = await page.locator('.nav-item ul li').all_text_contents()
world_country_list

['Afghanistan',
 'Albania',
 'Algeria',
 'American Samoa',
 'Andorra',
 'Angola',
 'Antigua and Barbuda',
 'Argentina',
 'Armenia',
 'Aruba',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahamas, The',
 'Bahrain',
 'Bangladesh',
 'Barbados',
 'Belarus',
 'Belgium',
 'Belize',
 'Benin',
 'Bermuda',
 'Bhutan',
 'Bolivia',
 'Bosnia and Herzegovina',
 'Botswana',
 'Brazil',
 'British Virgin Islands',
 'Brunei Darussalam',
 'Bulgaria',
 'Burkina Faso',
 'Burundi',
 'Cabo Verde',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Cayman Islands',
 'Central African Republic',
 'Chad',
 'Channel Islands',
 'Chile',
 'China',
 'Colombia',
 'Comoros',
 'Congo, Dem. Rep.',
 'Congo, Rep.',
 'Costa Rica',
 "Cote d'Ivoire",
 'Croatia',
 'Cuba',
 'Curacao',
 'Cyprus',
 'Czechia',
 'Denmark',
 'Djibouti',
 'Dominica',
 'Dominican Republic',
 'Ecuador',
 'Egypt, Arab Rep.',
 'El Salvador',
 'Equatorial Guinea',
 'Eritrea',
 'Estonia',
 'Eswatini',
 'Ethiopia',
 'Faroe Islands',
 'Fiji',
 'Finland',
 'France',
 'French Polynesia',
 'Gabon',
 'Gambia, The',
 'Georgia',
 'Germany',
 'Ghana',
 'Gibraltar',
 'Greece',
 'Greenland',
 'Grenada',
 'Guam',
 'Guatemala',
 'Guinea',
 'Guinea-Bissau',
 'Guyana',
 'Haiti',
 'Honduras',
 'Hong Kong SAR, China',
 'Hungary',
 'Iceland',
 'India',
 'Indonesia',
 'Iran, Islamic Rep.',
 'Iraq',
 'Ireland',
 'Isle of Man',
 'Israel',
 'Italy',
 'Jamaica',
 'Japan',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Kiribati',
 "Korea, Dem. People's Rep.",
 'Korea, Rep.',
 'Kosovo',
 'Kuwait',
 'Kyrgyz Republic',
 'Lao PDR',
 'Latvia',
 'Lebanon',
 'Lesotho',
 'Liberia',
 'Libya',
 'Liechtenstein',
 'Lithuania',
 'Luxembourg',
 'Macao SAR, China',
 'Madagascar',
 'Malawi',
 'Malaysia',
 'Maldives',
 'Mali',
 'Malta',
 'Marshall Islands',
 'Mauritania',
 'Mauritius',
 'Mexico',
 'Micronesia, Fed. Sts.',
 'Moldova',
 'Monaco',
 'Mongolia',
 'Montenegro',
 'Morocco',
 'Mozambique',
 'Myanmar',
 'Namibia',
 'Nauru',
 'Nepal',
 'Netherlands',
 'New Caledonia',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'North Macedonia',
 'Northern Mariana Islands',
 'Norway',
 'Oman',
 'Pakistan',
 'Palau',
 'Panama',
 'Papua New Guinea',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Puerto Rico',
 'Qatar',
 'Romania',
 'Russian Federation',
 'Rwanda',
 'Samoa',
 'San Marino',
 'Sao Tome and Principe',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Seychelles',
 'Sierra Leone',
 'Singapore',
 'Sint Maarten (Dutch part)',
 'Slovak Republic',
 'Slovenia',
 'Solomon Islands',
 'Somalia',
 'South Africa',
 'South Sudan',
 'Spain',
 'Sri Lanka',
 'St. Kitts and Nevis',
 'St. Lucia',
 'St. Martin (French part)',
 'St. Vincent and the Grenadines',
 'Sudan',
 'Suriname',
 'Sweden',
 'Switzerland',
 'Syrian Arab Republic',
 'Tajikistan',
 'Tanzania',
 'Thailand',
 'Timor-Leste',
 'Togo',
 'Tonga',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkiye',
 'Turkmenistan',
 'Turks and Caicos Islands',
 'Tuvalu',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'United Kingdom',
 'United States',
 'Uruguay',
 'Uzbekistan',
 'Vanuatu',
 'Venezuela, RB',
 'Viet Nam',
 'Virgin Islands (U.S.)',
 'West Bank and Gaza',
 'Yemen, Rep.',
 'Zambia',
 'Zimbabwe']

In [9]:
world_country_list

['Afghanistan',
 'Albania',
 'Algeria',
 'American Samoa',
 'Andorra',
 'Angola',
 'Antigua and Barbuda',
 'Argentina',
 'Armenia',
 'Aruba',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahamas, The',
 'Bahrain',
 'Bangladesh',
 'Barbados',
 'Belarus',
 'Belgium',
 'Belize',
 'Benin',
 'Bermuda',
 'Bhutan',
 'Bolivia',
 'Bosnia and Herzegovina',
 'Botswana',
 'Brazil',
 'British Virgin Islands',
 'Brunei Darussalam',
 'Bulgaria',
 'Burkina Faso',
 'Burundi',
 'Cabo Verde',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Cayman Islands',
 'Central African Republic',
 'Chad',
 'Channel Islands',
 'Chile',
 'China',
 'Colombia',
 'Comoros',
 'Congo, Dem. Rep.',
 'Congo, Rep.',
 'Costa Rica',
 "Cote d'Ivoire",
 'Croatia',
 'Cuba',
 'Curacao',
 'Cyprus',
 'Czechia',
 'Denmark',
 'Djibouti',
 'Dominica',
 'Dominican Republic',
 'Ecuador',
 'Egypt, Arab Rep.',
 'El Salvador',
 'Equatorial Guinea',
 'Eritrea',
 'Estonia',
 'Eswatini',
 'Ethiopia',
 'Faroe Islands',
 'Fiji',
 'Finland',
 'France',
 'French Polynesia',
 'Gabon',
 'Gambia, The',
 'Georgia',
 'Germany',
 'Ghana',
 'Gibraltar',
 'Greece',
 'Greenland',
 'Grenada',
 'Guam',
 'Guatemala',
 'Guinea',
 'Guinea-Bissau',
 'Guyana',
 'Haiti',
 'Honduras',
 'Hong Kong SAR, China',
 'Hungary',
 'Iceland',
 'India',
 'Indonesia',
 'Iran, Islamic Rep.',
 'Iraq',
 'Ireland',
 'Isle of Man',
 'Israel',
 'Italy',
 'Jamaica',
 'Japan',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Kiribati',
 "Korea, Dem. People's Rep.",
 'Korea, Rep.',
 'Kosovo',
 'Kuwait',
 'Kyrgyz Republic',
 'Lao PDR',
 'Latvia',
 'Lebanon',
 'Lesotho',
 'Liberia',
 'Libya',
 'Liechtenstein',
 'Lithuania',
 'Luxembourg',
 'Macao SAR, China',
 'Madagascar',
 'Malawi',
 'Malaysia',
 'Maldives',
 'Mali',
 'Malta',
 'Marshall Islands',
 'Mauritania',
 'Mauritius',
 'Mexico',
 'Micronesia, Fed. Sts.',
 'Moldova',
 'Monaco',
 'Mongolia',
 'Montenegro',
 'Morocco',
 'Mozambique',
 'Myanmar',
 'Namibia',
 'Nauru',
 'Nepal',
 'Netherlands',
 'New Caledonia',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'North Macedonia',
 'Northern Mariana Islands',
 'Norway',
 'Oman',
 'Pakistan',
 'Palau',
 'Panama',
 'Papua New Guinea',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Puerto Rico',
 'Qatar',
 'Romania',
 'Russian Federation',
 'Rwanda',
 'Samoa',
 'San Marino',
 'Sao Tome and Principe',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Seychelles',
 'Sierra Leone',
 'Singapore',
 'Sint Maarten (Dutch part)',
 'Slovak Republic',
 'Slovenia',
 'Solomon Islands',
 'Somalia',
 'South Africa',
 'South Sudan',
 'Spain',
 'Sri Lanka',
 'St. Kitts and Nevis',
 'St. Lucia',
 'St. Martin (French part)',
 'St. Vincent and the Grenadines',
 'Sudan',
 'Suriname',
 'Sweden',
 'Switzerland',
 'Syrian Arab Republic',
 'Tajikistan',
 'Tanzania',
 'Thailand',
 'Timor-Leste',
 'Togo',
 'Tonga',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkiye',
 'Turkmenistan',
 'Turks and Caicos Islands',
 'Tuvalu',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'United Kingdom',
 'United States',
 'Uruguay',
 'Uzbekistan',
 'Vanuatu',
 'Venezuela, RB',
 'Viet Nam',
 'Virgin Islands (U.S.)',
 'West Bank and Gaza',
 'Yemen, Rep.',
 'Zambia',
 'Zimbabwe']

### Saving as CSV

In [10]:
pd.DataFrame(world_country_list).to_csv('world_countries_list.csv', index=False)

In [3]:
country_list = pd.read_csv('world_countries_list.csv')
country_list

                         0
0              Afghanistan
1                  Albania
2                  Algeria
3           American Samoa
4                  Andorra
..                     ...
212  Virgin Islands (U.S.)
213     West Bank and Gaza
214            Yemen, Rep.
215                 Zambia
216               Zimbabwe

[217 rows x 1 columns]

### Cleaning

In [4]:
country_list.columns = country_list.columns.str.replace('0', "name")

In [5]:
country_list['name'] = country_list['name'].str.replace("[(]", "").str.replace("[)]", "").str.replace(" The", "")

/var/folders/6g/mf4qklbs63q07skjqqfkj5lw0000gn/T/ipykernel_74118/989574333.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  country_list['name'] = country_list['name'].str.replace("[(]", "").str.replace("[)]", "").str.replace(" The", "")

In [6]:
country_list[country_list['name'].str.contains("Korea")]

                          name
103  Korea, Dem. People's Rep.
104                Korea, Rep.

**Renaming South and North Korea:**

In [7]:
country_list['name'] = country_list['name'].str.replace("Korea, Dem. People's Rep.", "North Korea").str.replace("Korea, Rep.", "South Korea")

/var/folders/6g/mf4qklbs63q07skjqqfkj5lw0000gn/T/ipykernel_74118/3075129092.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  country_list['name'] = country_list['name'].str.replace("Korea, Dem. People's Rep.", "North Korea").str.replace("Korea, Rep.", "South Korea")

In [8]:
#Sanity check
country_list[country_list['name'].str.contains("Rep")]

                         name
37   Central African Republic
44           Congo, Dem. Rep.
45                Congo, Rep.
56         Dominican Republic
58           Egypt, Arab Rep.
91         Iran, Islamic Rep.
107           Kyrgyz Republic
173           Slovak Republic
189      Syrian Arab Republic
214               Yemen, Rep.

**Renaming " Dem." and " Rep." with " Democractic" and " Republic":**

In [9]:
country_list['name'] = country_list['name'].str.replace(" Dem[.]", " Democratic").str.replace(" Rep[.]", " Republic")

/var/folders/6g/mf4qklbs63q07skjqqfkj5lw0000gn/T/ipykernel_74118/3153192959.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  country_list['name'] = country_list['name'].str.replace(" Dem[.]", " Democratic").str.replace(" Rep[.]", " Republic")

**Preparing country names for URL handling by replaceing spaces with "+":**

In [10]:
country_list['name'] = country_list['name'].str.replace(",", "").str.replace(" ", "+")

In [11]:
world_country_list_clean = list(country_list['name'])

In [13]:
country_list.to_csv('world_countries_list_semi-clean.csv')

                    name
0            Afghanistan
1                Albania
2                Algeria
3         American+Samoa
4                Andorra
..                   ...
212  Virgin+Islands+U.S.
213   West+Bank+and+Gaza
214       Yemen+Republic
215               Zambia
216             Zimbabwe

[217 rows x 1 columns]

## Scraping

In [34]:
url_list = []
country_wise_result_count = []
for country in world_country_list_clean:
    url = 'https://commons.wikimedia.org/w/index.php?search=%22'+country+'%22&title=Special:MediaSearch&type=video'
    country_dict = {}
    country_dict['country'] = country
    await page.goto(url)
    time.sleep(4.5)
    try:
        video_count_element = page.locator('#video-count')
        if video_count_element == "":
            print("Element with ID 'video-count' not found.")
            print(f"Scraper stopped after {len(url_list)} countries.")
            continue
        video_count = await video_count_element.text_content()     
        country_dict['count'] = video_count
        if country_dict in country_wise_result_count:
            continue
        url_list.append(url)
        country_wise_result_count.append(country_dict)
        print(f"Finished scraping {len(country_wise_result_count)} countries.")
    except Exception as e:
                print(f"An error occurred: {e}")

Finished scraping 1 countries.
Finished scraping 2 countries.
Finished scraping 3 countries.
Finished scraping 4 countries.
Finished scraping 5 countries.
Finished scraping 6 countries.
An error occurred: Timeout 30000ms exceeded.
=========================== logs ===========================
waiting for locator("#video-count")
============================================================
Finished scraping 7 countries.
Finished scraping 8 countries.
Finished scraping 9 countries.
Finished scraping 10 countries.
Finished scraping 11 countries.
Finished scraping 12 countries.
Finished scraping 13 countries.
Finished scraping 14 countries.
Finished scraping 15 countries.
Finished scraping 16 countries.
Finished scraping 17 countries.
Finished scraping 18 countries.
Finished scraping 19 countries.
Finished scraping 20 countries.
Finished scraping 21 countries.
Finished scraping 22 countries.
Finished scraping 23 countries.
Finished scraping 24 countries.
Finished scraping 25 countries.
Finished scraping 26 countries.
An error occurred: Timeout 30000ms exceeded.
=========================== logs ===========================
waiting for locator("#video-count")
============================================================
Finished scraping 27 countries.
Finished scraping 28 countries.
Finished scraping 29 countries.
Finished scraping 30 countries.
Finished scraping 31 countries.
Finished scraping 32 countries.
Finished scraping 33 countries.
Finished scraping 34 countries.
Finished scraping 35 countries.
Finished scraping 36 countries.
Finished scraping 37 countries.
Finished scraping 38 countries.
Finished scraping 39 countries.
Finished scraping 40 countries.
Finished scraping 41 countries.
Finished scraping 42 countries.
An error occurred: Timeout 30000ms exceeded.
=========================== logs ===========================
waiting for locator("#video-count")
============================================================
An error occurred: Timeout 30000ms exceeded.
=========================== logs ===========================
waiting for locator("#video-count")
============================================================
Finished scraping 43 countries.
Finished scraping 44 countries.
Finished scraping 45 countries.
Finished scraping 46 countries.
Finished scraping 47 countries.
Finished scraping 48 countries.
Finished scraping 49 countries.
Finished scraping 50 countries.
Finished scraping 51 countries.
Finished scraping 52 countries.
Finished scraping 53 countries.
Finished scraping 54 countries.
An error occurred: Timeout 30000ms exceeded.
=========================== logs ===========================
waiting for locator("#video-count")
============================================================
Finished scraping 55 countries.
Finished scraping 56 countries.
Finished scraping 57 countries.
Finished scraping 58 countries.
Finished scraping 59 countries.
Finished scraping 60 countries.
Finished scraping 61 countries.
Finished scraping 62 countries.
Finished scraping 63 countries.
Finished scraping 64 countries.
Finished scraping 65 countries.
Finished scraping 66 countries.
Finished scraping 67 countries.
Finished scraping 68 countries.
Finished scraping 69 countries.
Finished scraping 70 countries.
Finished scraping 71 countries.
Finished scraping 72 countries.
Finished scraping 73 countries.
Finished scraping 74 countries.
Finished scraping 75 countries.
Finished scraping 76 countries.
Finished scraping 77 countries.
Finished scraping 78 countries.
Finished scraping 79 countries.
Finished scraping 80 countries.
Finished scraping 81 countries.
Finished scraping 82 countries.
Finished scraping 83 countries.
Finished scraping 84 countries.
Finished scraping 85 countries.
Finished scraping 86 countries.
An error occurred: Timeout 30000ms exceeded.
=========================== logs ===========================
waiting for locator("#video-count")
============================================================
Finished scraping 87 countries.
Finished scraping 88 countries.
Finished scraping 89 countries.
Finished scraping 90 countries.
Finished scraping 91 countries.
Finished scraping 92 countries.
Finished scraping 93 countries.
Finished scraping 94 countries.
Finished scraping 95 countries.
Finished scraping 96 countries.
Finished scraping 97 countries.
Finished scraping 98 countries.
Finished scraping 99 countries.
Finished scraping 100 countries.
Finished scraping 101 countries.
Finished scraping 102 countries.
An error occurred: Timeout 30000ms exceeded.
=========================== logs ===========================
waiting for locator("#video-count")
============================================================
Finished scraping 103 countries.
Finished scraping 104 countries.
Finished scraping 105 countries.
Finished scraping 106 countries.
Finished scraping 107 countries.
Finished scraping 108 countries.
Finished scraping 109 countries.
Finished scraping 110 countries.
An error occurred: Timeout 30000ms exceeded.
=========================== logs ===========================
waiting for locator("#video-count")
============================================================
Finished scraping 111 countries.
Finished scraping 112 countries.
Finished scraping 113 countries.
Finished scraping 114 countries.
Finished scraping 115 countries.
Finished scraping 116 countries.
Finished scraping 117 countries.
Finished scraping 118 countries.
Finished scraping 119 countries.
Finished scraping 120 countries.
An error occurred: Timeout 30000ms exceeded.
=========================== logs ===========================
waiting for locator("#video-count")
============================================================
Finished scraping 121 countries.
Finished scraping 122 countries.
Finished scraping 123 countries.
Finished scraping 124 countries.
Finished scraping 125 countries.
Finished scraping 126 countries.
Finished scraping 127 countries.
Finished scraping 128 countries.
Finished scraping 129 countries.
Finished scraping 130 countries.
Finished scraping 131 countries.
Finished scraping 132 countries.
Finished scraping 133 countries.
Finished scraping 134 countries.
Finished scraping 135 countries.
Finished scraping 136 countries.
Finished scraping 137 countries.
An error occurred: Timeout 30000ms exceeded.
=========================== logs ===========================
waiting for locator("#video-count")
============================================================
Finished scraping 138 countries.
Finished scraping 139 countries.
Finished scraping 140 countries.
Finished scraping 141 countries.
Finished scraping 142 countries.
Finished scraping 143 countries.
Finished scraping 144 countries.
Finished scraping 145 countries.
Finished scraping 146 countries.
Finished scraping 147 countries.
Finished scraping 148 countries.
Finished scraping 149 countries.
Finished scraping 150 countries.
Finished scraping 151 countries.
Finished scraping 152 countries.
Finished scraping 153 countries.
Finished scraping 154 countries.
Finished scraping 155 countries.
Finished scraping 156 countries.
Finished scraping 157 countries.
Finished scraping 158 countries.
Finished scraping 159 countries.
Finished scraping 160 countries.
Finished scraping 161 countries.
Finished scraping 162 countries.
An error occurred: Timeout 30000ms exceeded.
=========================== logs ===========================
waiting for locator("#video-count")
============================================================
An error occurred: Timeout 30000ms exceeded.
=========================== logs ===========================
waiting for locator("#video-count")
============================================================
Finished scraping 163 countries.
Finished scraping 164 countries.
Finished scraping 165 countries.
Finished scraping 166 countries.
Finished scraping 167 countries.
Finished scraping 168 countries.
Finished scraping 169 countries.
An error occurred: Timeout 30000ms exceeded.
=========================== logs ===========================
waiting for locator("#video-count")
============================================================
Finished scraping 170 countries.
An error occurred: Timeout 30000ms exceeded.
=========================== logs ===========================
waiting for locator("#video-count")
============================================================

An error occurred: Timeout 30000ms exceeded.
=========================== logs ===========================
waiting for locator("#video-count")
============================================================
Finished scraping 171 countries.
Finished scraping 172 countries.
Finished scraping 173 countries.
Finished scraping 174 countries.
Finished scraping 175 countries.
Finished scraping 176 countries.
Finished scraping 177 countries.
Finished scraping 178 countries.
Finished scraping 179 countries.
Finished scraping 180 countries.
Finished scraping 181 countries.
Finished scraping 182 countries.
Finished scraping 183 countries.
Finished scraping 184 countries.
Finished scraping 185 countries.
An error occurred: Timeout 30000ms exceeded.
=========================== logs ===========================
waiting for locator("#video-count")
============================================================
Finished scraping 186 countries.
Finished scraping 187 countries.
Finished scraping 188 countries.
Finished scraping 189 countries.
Finished scraping 190 countries.
Finished scraping 191 countries.
Finished scraping 192 countries.
Finished scraping 193 countries.
Finished scraping 194 countries.
An error occurred: Timeout 30000ms exceeded.
=========================== logs ===========================
waiting for locator("#video-count")
============================================================
Finished scraping 195 countries.
An error occurred: Timeout 30000ms exceeded.
=========================== logs ===========================
waiting for locator("#video-count")
============================================================
Finished scraping 196 countries.
An error occurred: Timeout 30000ms exceeded.
=========================== logs ===========================
waiting for locator("#video-count")
============================================================
Finished scraping 197 countries.
Finished scraping 198 countries.

In [35]:
len(url_list)

198

In [ ]:
#add patch to account for zero result countries
#try to replace "try-replace" with ifelse
#add the while statement to create a csv + html in the scraper itself

In [37]:
df = pd.DataFrame(country_wise_result_count)
df

                country        count
0           Afghanistan  238 results
1               Albania   44 results
2               Algeria   86 results
3        American+Samoa   16 results
4               Andorra   10 results
..                  ...          ...
193             Vanuatu   29 results
194            Viet+Nam   36 results
195  West+Bank+and+Gaza     1 result
196              Zambia   78 results
197            Zimbabwe   77 results

[198 rows x 2 columns]

In [38]:
df['count'] = df['count'].str.replace(" results", "").str.replace(" result", "")

In [39]:
df['country'] = df['country'].str.replace("[+]", " ").str.replace(",", "")

/var/folders/6g/mf4qklbs63q07skjqqfkj5lw0000gn/T/ipykernel_71763/674604883.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['country'] = df['country'].str.replace("[+]", " ").str.replace(",", "")

In [40]:
df['count'] = df['count'].str.replace(",", "")

In [41]:
df

                country count
0           Afghanistan   238
1               Albania    44
2               Algeria    86
3        American Samoa    16
4               Andorra    10
..                  ...   ...
193             Vanuatu    29
194            Viet Nam    36
195  West Bank and Gaza     1
196              Zambia    78
197            Zimbabwe    77

[198 rows x 2 columns]

In [42]:
df.to_csv('video_results.csv', index=False)

In [43]:
df.dtypes

country    object
count      object
dtype: object

In [44]:
df['count'] = df['count'].astype(int)

In [45]:
df.sort_values(by='count', ascending=False).reset_index(drop=True).head(10)

         country  count
0  United States  56543
1      Indonesia  29587
2         France  12476
3    Netherlands  12433
4         Mexico   8152
5        Germany   7626
6       Slovenia   6860
7          China   4948
8       Colombia   4747
9        Jamaica   4424

In [46]:
len(country_wise_result_count)

198

In [47]:
len(url_list)

198

In [ ]:
# with open(f"trial_2_court_page_htmls/{file_name}", 'a') as fp:
#     print(f"Saved as {file_name}")
#     fp.write(page_content + '<div class="dist_name">' + district_text + "</div>")